<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Welcome to Gospel go</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="normalize" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="icon" type="image/png" href="Gg.png" />
  </head>
  <body>
    <nav class="nav collapsible">
      <a href="/"
        ><img
          class="nav__brand"
          style="height: 80px; width: auto"
          src="../images/gospelgo-logo.png"
          alt="gospelgo logo"
      /></a>
      <svg class="icon icon--white nav__toggler">
        <use xlink:href="images/sprite.svg#menu"></use>
        <!--Change #wordpress to the name of any icon in the "spritesheet"-->
      </svg>
      <ul class="list nav__list collapsible__content">
        <li class="nav__item"><a href="#">Games</a></li>
        <li class="nav__item"><a href="#">Gospel go</a></li>
        <li class="nav__item"><a href="#">Get Involved</a></li>
        <li class="nav__item"><a href="#">Pricing</a></li>
      </ul>
    </nav>

    <br />
    <h1>hero</h1>
    <br />

    <section class="block block--dark block--skewed-left hero">
      <div class="container grid grid--1x2">
        <header class="block__header hero__content">
          <h1 class="block__heading">Jesus reigns in video games.</h1>
          <p class="hero__tagline">Get to know your creator as you play.</p>
          <a href="" class="btn btn--accent btn--stretched">See the games</a>
        </header>
        <img class="hero__image" src="../images/banner.png" alt="" />
      </div>
    </section>

    <h1>badges</h1>
    <br />
    <span class="badge badge--primary">10% Off</span>
    <span class="badge badge--secondary">10% Off</span>
    <span class="badge badge--primary badge-small">10% Off</span>

    <h1>block-games</h1>
    <br />

    <section class="block container block-games">
      <div class="grid grid--1x3">
        <div class="plan">
          <div class="card card--secondary">
            <header class="card__header">
              <h3 class="plan__name">Entry</h3>
              <span class="plan__price">$14</span>
              <span class="plan__billing-cycle">/month</span>
              <span class="badge badge--secondary badge--small">10% OFF</span>
              <span class="plan__description">Easy start on the cloud</span>
            </header>
            <div class="card__body">
              <ul class="list list--tick">
                <li class="list__item">Unlimited Websites</li>
                <li class="list__item">Unlimited Bandwidth</li>
                <li class="list__item">100 GB SSD Storage</li>
                <li class="list__item">3 GB RAM</li>
              </ul>
              <button class="btn btn--outline btn--block">Buy Now</button>
            </div>
          </div>
        </div>
        <div class="plan plan--popular">
          <div class="card card--primary">
            <header class="card__header">
              <h3 class="plan__name">Entry</h3>
              <span class="plan__price">$14</span>
              <span class="plan__billing-cycle">/month</span>
              <span class="badge badge--primary badge--small">10% OFF</span>
              <span class="plan__description">Easy start on the cloud</span>
            </header>
            <div class="card__body">
              <ul class="list list--tick">
                <li class="list__item">Unlimited Websites</li>
                <li class="list__item">Unlimited Bandwidth</li>
                <li class="list__item">100 GB SSD Storage</li>
                <li class="list__item">3 GB RAM</li>
              </ul>
              <button class="btn btn--outline btn--block">Buy Now</button>
            </div>
          </div>
        </div>
        <div class="plan">
          <div class="card card--secondary">
            <header class="card__header">
              <h3 class="plan__name">Entry</h3>
              <span class="plan__price">$14</span>
              <span class="plan__billing-cycle">/month</span>
              <span class="badge badge--secondary badge--small">10% OFF</span>
              <span class="plan__description">Easy start on the cloud</span>
            </header>
            <div class="card__body">
              <ul class="list list--tick">
                <li class="list__item">Unlimited Websites</li>
                <li class="list__item">Unlimited Bandwidth</li>
                <li class="list__item">100 GB SSD Storage</li>
                <li class="list__item">3 GB RAM</li>
              </ul>
              <button class="btn btn--outline btn--block">Buy Now</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <br />
    <h1>block-gospel</h1>
    <br />

    <section class="block container block-gospel">
      <header class="block__header">
        <h2>The gospel is for everyone!</h2>
        <p>Find the gospel in unexpected places. God is on the move!</p>
      </header>
      <div class="input-group">
        <input type="text" class="input" placeholder="Enter text here" />
        <button class="btn btn--accent">
          <svg class="icon icon--white">
            <use xlink:href="../images/sprite.svg#search"></use>
          </svg>
          Search
        </button>
      </div>
      <ul class="list block-gospel__details">
        <li><span class="badge badge--secondary">Item 1</span></li>
        <li><span class="badge badge--secondary">Item 2</span></li>
        <li><span class="badge badge--secondary">Item 3</span></li>
        <li>Item 4</li>
        <li>Item 5</li>
        <li>Item 6</li>
      </ul>
    </section>

    <br />
    <h1>blocks</h1>
    <br />

    <section class="block container">
      <header class="block__header">
        <h2 class="block__heading">Heading</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti,
          distinctio.
        </p>
      </header>
      <div class="card card--secondary">
        <header class="card__header">Card Title</header>
        <div class="card__body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem,
          ipsum!
        </div>
      </div>
    </section>

    <section class="block block--dark block--skewed-right">
      <div class="container">
        <h2 class="block__heading">Heading</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti,
          distinctio. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          Deleniti, distinctio. Lorem ipsum dolor sit, amet consectetur
          adipisicing elit. Deleniti, distinctio.
        </p>
      </div>
    </section>

    <section class="block block--dark block--skewed-left">
      <div class="container">
        <h2 class="block__heading">Heading</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti,
          distinctio. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          Deleniti, distinctio. Lorem ipsum dolor sit, amet consectetur
          adipisicing elit. Deleniti, distinctio.
        </p>
      </div>
    </section>

    <br />
    <h1>buttons</h1>
    <br />

    <button class="btn btn--primary">Buy Now</button>
    <button class="btn btn--secondary">Buy Now</button>
    <button class="btn btn--accent">Buy Now</button>
    <a href="#" class="btn btn--secondary">Buy Now</a>

    <button class="btn btn--primary btn--block">Buy Now</button>
    <button class="btn btn--secondary btn--block">Buy Now</button>
    <button class="btn btn--accent btn--block">Buy Now</button>
    <a href="#" class="btn btn--secondary btn--block">Buy Now</a>

    <button class="btn btn--outline">Buy Now</button>
    <button class="btn btn--outline">Buy Now</button>
    <button class="btn btn--outline">Buy Now</button>
    <a href="#" class="btn btn--block btn--outline">Buy Now</a>

    <br />
    <h1>callouts</h1>
    <br />

    <div class="callout callout--primary">
      <div class="grid grid--1x2">
        <div class="callout__content">
          <h2 class="callout__heading">Ready to Get Started?</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error at
            quis veniam veritatis aperiam cumque, consequuntur dignissimos
            nesciunt ratione repudiandae.
          </p>
        </div>
        <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
      </div>
    </div>

    <br />
    <h1>cards</h1>
    <br />

    <!--Primary Card-->
    <div class="card card--primary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, ipsum!
      </div>
    </div>

    <!--Secondary Card-->
    <div class="card card--secondary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, ipsum!
      </div>
    </div>

    <!--Secondary Card with local styling BETTER TO STYLE IN CSS FOR THE EACH CASE-->
    <div style="width: 30%; padding: 4rem">
      <div class="card card--secondary">
        <header class="card__header">Card Title</header>
        <div class="card__body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem,
          ipsum!
        </div>
      </div>
    </div>

    <br />
    <h1>collapsibles</h1>
    <br />

    <div class="collapsible collapsible--expanded">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">Item 1</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="../images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos iure autem
        esse!
      </div>
    </div>

    <div class="collapsible">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">Item 1</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="../images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos iure autem
        esse!
      </div>
    </div>

    <br />
    <h1>grids</h1>
    <br />

    <div class="grid grid--1x2">
      <div style="height: 100px; background: gold"></div>
      <div style="height: 100px; background: dodgerblue"></div>
    </div>
    <div class="grid grid--1x3">
      <div style="height: 100px; background: gold"></div>
      <div style="height: 100px; background: dodgerblue"></div>
      <div style="height: 100px; background: tomato"></div>
    </div>

    <br />
    <h1>icons</h1>
    <br />

    <!--Container optional Container is a background-->

    <span class="icon-container">
      <svg class="icon icon--primary">
        <use xlink:href="../images/sprite.svg#wordpress"></use>
        <!--Change #wordpress to the name of any icon in the "spritesheet"-->
      </svg>
    </span>

    <!-- No Container version -->
    <svg class="icon icon--primary">
      <use xlink:href="../images/sprite.svg#wordpress"></use>
      <!--Change #wordpress to the name of any icon in the "spritesheet"-->
    </svg>

    <img src="../images/gospelgo-logo.png" alt="Gospelgo logo" />

    <br />
    <h1>inputs</h1>
    <br />

    <input type="text" class="input" placeholder="Enter text here" />

    <div class="input-group">
      <input type="text" class="input" placeholder="Enter text here" />
      <button class="btn btn--accent">Search</button>
    </div>

    <div class="input-group">
      <button class="btn btn--accent">Search</button>
      <input type="text" class="input" placeholder="Enter text here" />
    </div>

    <div class="input-group">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="../images/sprite.svg#wordpress"></use>
        </svg>
      </span>
      <input type="text" class="input" placeholder="Enter text here" />
    </div>

    <div class="input-group">
      <input type="text" class="input" placeholder="Enter text here" />
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="../images/sprite.svg#wordpress"></use>
        </svg>
      </span>
    </div>

    <br />
    <h1>links</h1>
    <br />

    <a href="#" class="link-arrow">Learn More</a>

    <br />
    <h1>lists</h1>
    <br />

    <ul class="list list--tick">
      <!-- BEM Block Element Modifier; separate block from element w/ double underscores-->
      <li class="list__item">Item 1</li>
      <li class="list__item">Item 2</li>
      <li class="list__item">Item 3</li>
    </ul>

    <ul class="list list--inline">
      <!-- BEM Block Element Modifier; separate block from element w/ double underscores-->
      <li class="list__item">Item 1</li>
      <li class="list__item">Item 2</li>
      <li class="list__item">Item 3</li>
    </ul>

    <br />
    <h1>media</h1>
    <br />

    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary">
          <use xlink:href="../images/sprite.svg#snap"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title">Easy Start & Managed Updates</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque,
          ducimus illo.
        </p>
      </div>
    </div>

    <div class="media">
      <div class="media__image">
        <img
          src="../images/Gg.png"
          alt="Gospelgo logo"
          style="width: 50px; height: auto"
        />
      </div>
      <div class="media__body">
        <h3 class="media__title">Easy Start & Managed Updates</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque,
          ducimus illo.
        </p>
      </div>
    </div>

    <br />
    <h1>plans</h1>
    <br />

    <div class="plan plan--popular">
      <div class="card card--secondary">
        <header class="card__header">
          <h3 class="plan__name">Entry</h3>
          <span class="plan__price">$14</span>
          <span class="plan__billing-cycle">/month</span>
          <span class="badge badge--secondary badge--small">10% OFF</span>
          <span class="plan__description">Easy start on the cloud</span>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Unlimited Websites</li>
            <li class="list__item">Unlimited Bandwidth</li>
            <li class="list__item">100 GB SSD Storage</li>
            <li class="list__item">3 GB RAM</li>
          </ul>
          <button class="btn btn--outline btn--block">Buy Now</button>
        </div>
      </div>
    </div>
    <div class="plan">
      <div class="card card--primary">
        <header class="card__header">
          <h3 class="plan__name">Entry</h3>
          <span class="plan__price">$14</span>
          <span class="plan__billing-cycle">/month</span>
          <span class="badge badge--secondary badge--small">10% OFF</span>
          <span class="plan__description">Easy start on the cloud</span>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Unlimited Websites</li>
            <li class="list__item">Unlimited Bandwidth</li>
            <li class="list__item">100 GB SSD Storage</li>
            <li class="list__item">3 GB RAM</li>
          </ul>
          <button class="btn btn--outline btn--block">Buy Now</button>
        </div>
      </div>
    </div>
    <br />
    <h1>quotes</h1>
    <br />

    <blockquote class="quote">
      <p class="quote__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
        corrupti nulla fugit dicta veritatis provident, deleniti iste
        repudiandae dolorem enim.
      </p>
      <footer>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary quote__line">
              <use xlink:href="../images/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title quote__author">First Lastname</h3>
            <p class="quote__organization">ABC Company</p>
          </div>
        </div>
      </footer>
    </blockquote>

    <br />
    <h1>testimonials</h1>
    <br />

    <div class="card testimonial">
      <div class="grid grid--1x2">
        <div class="testimonial__image">
          <img
            src="../images/testimonial.jpg"
            alt="A happy, smiling customer"
          />
          <span class="icon-container icon-container--accent">
            <svg class="icon icon--white icon--small">
              <use xlink:href="images/sprite.svg#quotes"></use>
              <!--Change #wordpress to the name of any icon in the "spritesheet"-->
            </svg>
          </span>
        </div>
        <blockquote class="quote">
          <p class="quote__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
            corrupti nulla fugit dicta veritatis provident, deleniti iste
            repudiandae dolorem enim.
          </p>
          <footer>
            <div class="media">
              <div class="media__image">
                <svg class="icon icon--primary quote__line">
                  <use xlink:href="../images/sprite.svg#line"></use>
                </svg>
              </div>
              <div class="media__body">
                <h3 class="media__title quote__author">First Lastname</h3>
                <p class="quote__organization">ABC Company</p>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>
    </div>

    <br />
    <h1>features block</h1>
    <br />

    <section class="block container">
      <header class="block__header">
        <h2>Word has many unique features</h2>
        <p>
          Word has many options that help you read God's word more often, have
          fun challenging yourself, keep a record of your progress and more, all
          while you improve your typing skills and speed.
        </p>
      </header>
      <article class="grid grid--1x2 feature">
        <div class="feature__content">
          <span class="icon-container">
            <svg class="icon icon--primary">
              <use xlink:href="../images/sprite.svg#easy"></use>
              <!--Change #wordpress to the name of any icon in the "spritesheet"-->
            </svg>
          </span>
          <h3 class="feature__heading">Learn/practice typing</h3>
          <p>Imporove your typing skills while you learn the Bible.</p>
          <a href="#" class="link-arrow">Learn More</a>
        </div>
        <img
          class="feature__image"
          src="../images/word-verses.png"
          alt="Word feature, shows words per minute"
        />
      </article>
      <article class="grid grid--1x2 feature">
        <div class="feature__content">
          <span class="icon-container">
            <svg class="icon icon--primary">
              <use xlink:href="../images/sprite.svg#easy"></use>
              <!--Change #wordpress to the name of any icon in the "spritesheet"-->
            </svg>
          </span>
          <h3 class="feature__heading">Remembers WPM for each level</h3>
          <p>
            Each level (uually 2 verses) has it's own score and Word records
            this so you can review your previous scores. Try to go back and beat
            your old WPM!
          </p>
          <a href="#" class="link-arrow">Learn More</a>
        </div>
        <img
          class="feature__image"
          src="../images/word-verses.png"
          alt="Word feature, shows words per minute"
        />
      </article>
      <article class="grid grid--1x2 feature">
        <div class="feature__content">
          <span class="icon-container">
            <svg class="icon icon--primary">
              <use xlink:href="../images/sprite.svg#easy"></use>
              <!--Change #wordpress to the name of any icon in the "spritesheet"-->
            </svg>
          </span>
          <h3 class="feature__heading">Regular Bible reading</h3>
          <p>
            Stop typing anytime and you can take time to read the current
            scripture. After 5 seconds of no typing, Word will roll back 5
            seconds so your WPM is not affected. Take all the time you need! A
            message will be displayed onscreen indicating the game is in idle
            mode.
          </p>
          <a href="#" class="link-arrow">Learn More</a>
        </div>
        <img
          class="feature__image"
          src="../images/word-verses.png"
          alt="Word feature, shows words per minute"
        />
      </article>
      <article class="grid grid--1x2 feature">
        <div class="feature__content">
          <span class="icon-container">
            <svg class="icon icon--primary">
              <use xlink:href="../images/sprite.svg#easy"></use>
              <!--Change #wordpress to the name of any icon in the "spritesheet"-->
            </svg>
          </span>
          <h3 class="feature__heading">Options!</h3>
          <p>
            Word has many options that were added based on player feedback. Want
            to pause between levels to see your score? Turn off Auto-Start Next
            Level. Hide WPM and/or the mistakes counter display while your
            typing. Play a sound when you hit the wrong key. Show the key you
            pressed if it was wrong (helps if you're avoiding looking at the
            keyboard.
          </p>
          <a href="#" class="link-arrow">Learn More</a>
        </div>
        <img
          class="feature__image"
          src="../images/word-verses.png"
          alt="Word feature, shows words per minute"
        />
      </article>
    </section>

    <br />
    <h1>showcase-block</h1>
    <br />

    <section class="block block--dark block--skewed-right block-showcase">
      <header class="block__header">
        <h2>Progress Menu</h2>
      </header>
      <div class="container grid grid--1x2">
        <picture class="block-showcase__image">
          <source
            type="image/webp"
            srcset="../images/word-progress.webp 1x, ../images/word-progress@2x.webp 2X"
          />
          <source
            type="image/png"
            srcset="../images/word-progress.png 1x, ../images/word-progress@2x.png 2X"
          />
          <img src="../images/word-progress.png" alt="Progress Menu" />
        </picture>
        <ul class="list">
          <li>
            <div class="media">
              <div class="media__image">
                <svg class="icon icon--primary">
                  <use xlink:href="../images/sprite.svg#computer"></use>
                </svg>
              </div>
              <div class="media__body">
                <h3 class="media__title">Easy Start & Managed Updates</h3>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Atque, ducimus illo.
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="media">
              <div class="media__image">
                <svg class="icon icon--primary">
                  <use xlink:href="../images/sprite.svg#computer"></use>
                </svg>
              </div>
              <div class="media__body">
                <h3 class="media__title">Easy Start & Managed Updates</h3>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Atque, ducimus illo.
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="media">
              <div class="media__image">
                <svg class="icon icon--primary">
                  <use xlink:href="../images/sprite.svg#computer"></use>
                </svg>
              </div>
              <div class="media__body">
                <h3 class="media__title">Easy Start & Managed Updates</h3>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Atque, ducimus illo.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <br />
    <h1>testimonials-block</h1>
    <br />

    <section class="block">
      <header class="block__header">
        <h2>What Players are Saying</h2>
        <p>See what players think of Word.</p>
      </header>
      <div class="container">
        <div class="card testimonial">
          <div class="grid grid--1x2">
            <div class="testimonial__image">
              <img
                src="../images/testimonial.jpg"
                alt="A happy, smiling customer"
              />
              <span class="icon-container icon-container--accent">
                <svg class="icon icon--white icon--small">
                  <use xlink:href="../images/sprite.svg#quotes"></use>
                  <!--Change #wordpress to the name of any icon in the "spritesheet"-->
                </svg>
              </span>
            </div>
            <blockquote class="quote">
              <p class="quote__text">
                What a great idea, thanks for your efforts in making this
                available for those of us wanting to learn touch typing while at
                the same time being encouraged by God's word.
              </p>
              <footer>
                <div class="media">
                  <div class="media__image">
                    <svg class="icon icon--primary quote__line">
                      <use xlink:href="../images/sprite.svg#line"></use>
                    </svg>
                  </div>
                  <div class="media__body">
                    <h3 class="media__title quote__author">First Lastname</h3>
                    <p class="quote__organization">ABC Company</p>
                  </div>
                </div>
              </footer>
            </blockquote>
          </div>
        </div>
      </div>
    </section>

    <br />
    <h1>footer</h1>
    <br />

    <footer class="block block--dark footer">
      <div class="container grid footer__sections">
        <section class="collapsible collapsible--expanded footer__section">
          <header class="collapsible__header">
            <h2 class="collapsible__heading footer__heading">Desktop Games</h2>
            <svg class="icon icon--white collapsible__chevron">
              <use xlink:href="../images/sprite.svg#chevron"></use>
            </svg>
          </header>
          <div class="collapsible__content">
            <ul class="list">
              <li><a href="#">Gospelgo .d</a></li>
              <li><a href="#">Word</a></li>
              <li><a href="#">Big Heart</a></li>
            </ul>
          </div>
        </section>
        <section class="collapsible footer__section">
          <header class="collapsible__header">
            <h2 class="collapsible__heading footer__heading">Mobile games</h2>
            <svg class="icon icon--white collapsible__chevron">
              <use xlink:href="../images/sprite.svg#chevron"></use>
            </svg>
          </header>
          <div class="collapsible__content">
            <ul class="list">
              <li><a href="#">Gospelgo</a></li>
              <li><a href="#">Big Heart</a></li>
            </ul>
          </div>
        </section>
        <section class="collapsible footer__section">
          <header class="collapsible__header">
            <h2 class="collapsible__heading footer__heading">Item 3</h2>
            <svg class="icon icon--white collapsible__chevron">
              <use xlink:href="../images/sprite.svg#chevron"></use>
            </svg>
          </header>
          <div class="collapsible__content">
            <ul class="list">
              <li><a href="#">link 1</a></li>
              <li><a href="#">link 2</a></li>
              <li><a href="#">link 3</a></li>
            </ul>
          </div>
        </section>
        <section class="footer__brand">
          <img src="../images/Gospelgo150.png" alt="gospelgo logo" />
          <p class="footer__copyright">Copyright 2026 Gospelgo</p>
        </section>
      </div>
    </footer>

    <script src="js/main.js"></script>
  </body>
</html>
