<section class="block container block-gospel">
  <header class="block__header">
    <h2>The gospel is for everyone!</h2>
    <p>Find the gospel in unexpected places. God is on the move!</p>
  </header>
  <div class="input-group">
    <input type="text" class="input" placeholder="Enter text here" />
    <button class="btn btn--accent">
      <svg class="icon icon--white">
        <use xlink:href="images/sprite.svg#search"></use>
      </svg>
      Search
    </button>
  </div>
  <ul class="list block-gospel__details">
    <li><span class="badge badge--secondary">Item 1</span></li>
    <li><span class="badge badge--secondary">Item 2</span></li>
    <li><span class="badge badge--secondary">Item 3</span></li>
    <li>Item 4</li>
    <li>Item 5</li>
    <li>Item 6</li>
  </ul>
</section>
