<div class="container">
  <div class="grid grid--1x2">
    <section class="block container" data-aos="fade-up">
      <header class="block__header">
        <h2 class="block__heading">REPLACE THIS SECTION</h2>
        <p>
          Gospelgo, a go map game is in the very early stages of development. So
          Gospelgo is the name of the project and the name of two planned games,
          Gospelgo and Gosplego Desktop. Other games are and will be available
          as well such as Word, Big Heart and Gospelgo Bubble Shooter.
        </p>
      </header>
    </section>
    <section class="block container" data-aos="fade-up">
      <header class="block__header">
        <h2 class="block__heading">REPLACE THIS SECTION</h2>
        <p>
          Gospelgo games are easy to access by visiting a simple web address.Ths
          will bypass gate keepers like some game platforms, but those platforms
          have large audiences so it is a trade-off. Pray that those who need to
          find Gospelg games will do so. God will work it out. He can do
          anything!
        </p>
      </header>
    </section>
    <section class="block container" data-aos="fade-right">
      <header class="block__header">
        <h2 class="block__heading">REPLACE THIS SECTION</h2>
        <p>
          The plan is that most or all Gospelgo games will remain free. There
          are costs associated with bandwidth usage, web calls and the like, so
          donation links will be provided for those who want to give/support,
          but there is no pressure to do so. Also, Gospelgo may release some
          games
        </p>
      </header>
    </section>
    <section class="block container" data-aos="fade-left">
      <header class="block__header">
        <h2 class="block__heading">REPLACE THIS SECTION</h2>
        <p>
          Gospelgo uses a tech stack that allows for quick deployment of
          changes, updates and bug fixes. This includes the Unity gaming engine,
          Github (for this website), Netlify and webhooks for automatic
          publishing of games, the website and discord notifications. The
          discord posts include deploy messages which serve as dev notes.
        </p>
      </header>
    </section>
  </div>
</div>
