<!--Container optional Container is a background-->

<span class="icon-container">
  <svg class="icon icon--primary">
    <use xlink:href="images/sprite.svg#wordpress"></use>
    <!--Change #wordpress to the name of any icon in the "spritesheet"-->
  </svg>
</span>

<!-- No Container version -->
<svg class="icon icon--primary">
  <use xlink:href="images/sprite.svg#wordpress"></use>
  <!--Change #wordpress to the name of any icon in the "spritesheet"-->
</svg>

<img src="images/gospelgo-logo.png" alt="Gospelgo logo" />
