<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque, ducimus
      illo.
    </p>
  </div>
</div>

<div class="media">
  <div class="media__image">
    <img
      src="images/Gg.png"
      alt="Gospelgo logo"
      style="width: 50px; height: auto"
    />
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque, ducimus
      illo.
    </p>
  </div>
</div>
