<nav class="nav collapsible">
  <a href="/"
    ><img
      class="nav__brand"
      style="height: 80px; width: auto"
      src="images/gospelgo-logo.png"
      alt="gospelgo logo"
  /></a>
  <svg class="icon icon--white nav__toggler">
    <use xlink:href="images/sprite.svg#menu"></use>
    <!--Change #wordpress to the name of any icon in the "spritesheet"-->
  </svg>
  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="#">Games</a></li>
    <li class="nav__item"><a href="#">Gospel go</a></li>
    <li class="nav__item"><a href="#">Get Involved</a></li>
    <li class="nav__item"><a href="#">Pricing</a></li>
  </ul>
</nav>
